<script>
        // Initialize the chart
        var chart = echarts.init(document.getElementById('beacon-power-chart'));


        // Generate random data for the Y-axis
        function generateData() {
            return Math.floor(Math.random() * (-66 - (-80) + 1)) - 80;
        }

           // Specify chart options
        var options = {
            title: {
                text: 'Beacon Power'
            },
            tooltip: {
                formatter: '{b}<br />Power: {c} dBm'
            },
            xAxis: {
                type: 'category',
                data: ['Ku-Band (bDm)']
            },
            yAxis: {
                type: 'value',
                min: -80,
                max: -66,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            series: [{
                name: 'Power',
                type: 'bar',
                barWidth: '90%',
                data: [generateData()],
                itemStyle: {
                    normal: {
                        color: 'gray'
                    },
                    normal: {
                        color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                                offset: 0,
                                color: 'gray'  // Start color (gray)
                            }, {
                                offset: 1,
                                color: 'orange'  // End color (orange)
                            }]
                        }
                    }
                }
            }]
        };




        // Update chart data and animation
        function updateChartData() {
            var newData = generateData();
            chart.setOption({
                series: [{
                    data: [newData]
                }]
            });
        }

        // Set the options to the chart
        chart.setOption(options);

        // Update chart data every 2 seconds
        setInterval(updateChartData, 2000);


</script>