    {% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<!-- Content Row -->
<!--                    <div class="row">-->

<!--                        &lt;!&ndash; Card Example &ndash;&gt;-->
<!--                        <div class="col-sm-4  mb-4">-->
<!--                            <div class="card border-left-primary shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">-->
<!--                                                Satellite Name</div>-->
<!--                                            <div class="h5 mb-0 font-weight-bold text-gray-800">GSAT</div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <svg fill="#000000" height="2rem"  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                                                     viewBox="0 0 512.001 512.001" xml:space="preserve">-->
<!--                                                                <g>-->
<!--                                                                    <g>-->
<!--                                                                        <g>-->
<!--                                                                            <path d="M392.661,255.896c-1.331-2.662-3.942-4.437-6.904-4.685c-3.021-0.341-5.845,1.058-7.603,3.447l-40.115,54.699-->
<!--                                                                                l-19.422-19.43l42.283-42.283c1.604-1.604,2.5-3.772,2.5-6.033c0-2.27-0.896-4.437-2.5-6.033l-6.042-6.033l18.065-18.057-->
<!--                                                                                c3.328-3.337,3.328-8.738,0-12.066l-24.141-24.141l13.79-13.781c5.683,1.493,11.972,0.094,16.427-4.361-->
<!--                                                                                c6.665-6.665,6.665-17.476,0-24.141c-6.664-6.665-17.468-6.665-24.132,0c-4.454,4.454-5.862,10.743-4.36,16.427l-13.79,13.79-->
<!--                                                                                l-24.141-24.141c-3.2-3.2-8.866-3.2-12.066,0l-18.099,18.108l-6.033-6.033c-3.337-3.328-8.73-3.328-12.066,0l-42.24,42.24-->
<!--                                                                                l-12.066-12.075l48.316-48.316c1.946-1.937,2.833-4.685,2.389-7.398c-0.435-2.705-2.15-5.043-4.608-6.263L111.292,46.923-->
<!--                                                                                c-2.876-1.425-6.323-1.135-8.909,0.785L3.447,121.155c-2.415,1.792-3.703,4.71-3.405,7.697c0.299,2.995,2.15,5.598,4.873,6.878-->
<!--                                                                                l165.265,77.449c1.161,0.538,2.389,0.811,3.618,0.811c2.219,0,4.395-0.87,6.033-2.5l18.108-18.108l12.066,12.075l-48.222,48.222-->
<!--                                                                                c-3.337,3.337-3.337,8.73,0,12.066l6.033,6.033l-18.15,18.15c-3.328,3.336-3.328,8.73,0,12.066l60.339,60.339-->
<!--                                                                                c1.664,1.672,3.849,2.5,6.033,2.5c2.185,0,4.369-0.828,6.033-2.5l18.15-18.142l6.033,6.033c1.604,1.604,3.772,2.5,6.033,2.5-->
<!--                                                                                s4.437-0.896,6.033-2.5l48.23-48.23l21.282,21.282l-16.094,21.939c-1.801,2.458-2.159,5.666-0.947,8.448l66.364,153.199-->
<!--                                                                                c1.22,2.807,3.84,4.753,6.878,5.094c0.324,0.026,0.64,0.043,0.956,0.043c2.697,0,5.265-1.28,6.878-3.49l72.508-98.978-->
<!--                                                                                c1.894-2.586,2.185-6.007,0.751-8.858L392.661,255.896z M210.005,253.729c3.328-3.337,8.738-3.337,12.066,0-->
<!--                                                                                c3.337,3.328,3.337,8.73,0,12.066c-3.328,3.328-8.738,3.328-12.066,0C206.669,262.458,206.669,257.057,210.005,253.729z-->
<!--                                                                                 M216.038,344.233l-48.273-48.273l12.066-12.066l48.282,48.273L216.038,344.233z M246.212,241.654-->
<!--                                                                                c-3.337,3.337-8.738,3.337-12.075,0c-3.328-3.328-3.328-8.73,0-12.066c3.336-3.328,8.738-3.328,12.075,0-->
<!--                                                                                C249.54,232.925,249.54,238.326,246.212,241.654z M270.344,217.522c-3.337,3.337-8.738,3.337-12.066,0-->
<!--                                                                                c-3.336-3.336-3.336-8.738,0-12.066c3.328-3.337,8.73-3.337,12.066,0C273.681,208.784,273.681,214.185,270.344,217.522z-->
<!--                                                                                 M294.485,169.24l12.058-12.066l24.132,24.132l0.009,0.009l0.017,0.009l24.124,24.132l-12.032,12.032L294.485,169.24z"/>-->
<!--                                                                            <path d="M366.934,0.002c-4.71,0-8.533,3.814-8.533,8.533s3.823,8.533,8.533,8.533c70.579,0,128,57.421,128,128-->
<!--                                                                                c0,4.719,3.814,8.533,8.533,8.533c4.719,0,8.533-3.814,8.533-8.533C512.001,65.077,446.926,0.002,366.934,0.002z"/>-->
<!--                                                                            <path d="M366.934,42.669c-4.71,0-8.533,3.814-8.533,8.533s3.823,8.533,8.533,8.533c47.053,0,85.333,38.281,85.333,85.333-->
<!--                                                                                c0,4.719,3.814,8.533,8.533,8.533c4.719,0,8.533-3.814,8.533-8.533C469.334,88.604,423.399,42.669,366.934,42.669z"/>-->
<!--                                                                            <path d="M409.601,145.069c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533c0-32.93-26.795-59.733-59.733-59.733-->
<!--                                                                                c-4.71,0-8.533,3.814-8.533,8.533c0,4.719,3.823,8.533,8.533,8.533C390.461,102.402,409.601,121.542,409.601,145.069z"/>-->
<!--                                                                        </g>-->
<!--                                                                    </g>-->
<!--                                                                </g>-->
<!--                                                                </svg>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Card Example &ndash;&gt;-->
<!--                        <div class="col-sm-4  mb-4">-->
<!--                            <div class="card border-left-success shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">-->
<!--                                                SATELLITE MODEL</div>-->
<!--                                            <div class="h5 mb-0 font-weight-bold text-gray-800">12121212</div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <svg fill="#000000" height="2rem"  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                                                     viewBox="0 0 512.001 512.001" xml:space="preserve">-->
<!--                                                                <g>-->
<!--                                                                    <g>-->
<!--                                                                        <g>-->
<!--                                                                            <path d="M392.661,255.896c-1.331-2.662-3.942-4.437-6.904-4.685c-3.021-0.341-5.845,1.058-7.603,3.447l-40.115,54.699-->
<!--                                                                                l-19.422-19.43l42.283-42.283c1.604-1.604,2.5-3.772,2.5-6.033c0-2.27-0.896-4.437-2.5-6.033l-6.042-6.033l18.065-18.057-->
<!--                                                                                c3.328-3.337,3.328-8.738,0-12.066l-24.141-24.141l13.79-13.781c5.683,1.493,11.972,0.094,16.427-4.361-->
<!--                                                                                c6.665-6.665,6.665-17.476,0-24.141c-6.664-6.665-17.468-6.665-24.132,0c-4.454,4.454-5.862,10.743-4.36,16.427l-13.79,13.79-->
<!--                                                                                l-24.141-24.141c-3.2-3.2-8.866-3.2-12.066,0l-18.099,18.108l-6.033-6.033c-3.337-3.328-8.73-3.328-12.066,0l-42.24,42.24-->
<!--                                                                                l-12.066-12.075l48.316-48.316c1.946-1.937,2.833-4.685,2.389-7.398c-0.435-2.705-2.15-5.043-4.608-6.263L111.292,46.923-->
<!--                                                                                c-2.876-1.425-6.323-1.135-8.909,0.785L3.447,121.155c-2.415,1.792-3.703,4.71-3.405,7.697c0.299,2.995,2.15,5.598,4.873,6.878-->
<!--                                                                                l165.265,77.449c1.161,0.538,2.389,0.811,3.618,0.811c2.219,0,4.395-0.87,6.033-2.5l18.108-18.108l12.066,12.075l-48.222,48.222-->
<!--                                                                                c-3.337,3.337-3.337,8.73,0,12.066l6.033,6.033l-18.15,18.15c-3.328,3.336-3.328,8.73,0,12.066l60.339,60.339-->
<!--                                                                                c1.664,1.672,3.849,2.5,6.033,2.5c2.185,0,4.369-0.828,6.033-2.5l18.15-18.142l6.033,6.033c1.604,1.604,3.772,2.5,6.033,2.5-->
<!--                                                                                s4.437-0.896,6.033-2.5l48.23-48.23l21.282,21.282l-16.094,21.939c-1.801,2.458-2.159,5.666-0.947,8.448l66.364,153.199-->
<!--                                                                                c1.22,2.807,3.84,4.753,6.878,5.094c0.324,0.026,0.64,0.043,0.956,0.043c2.697,0,5.265-1.28,6.878-3.49l72.508-98.978-->
<!--                                                                                c1.894-2.586,2.185-6.007,0.751-8.858L392.661,255.896z M210.005,253.729c3.328-3.337,8.738-3.337,12.066,0-->
<!--                                                                                c3.337,3.328,3.337,8.73,0,12.066c-3.328,3.328-8.738,3.328-12.066,0C206.669,262.458,206.669,257.057,210.005,253.729z-->
<!--                                                                                 M216.038,344.233l-48.273-48.273l12.066-12.066l48.282,48.273L216.038,344.233z M246.212,241.654-->
<!--                                                                                c-3.337,3.337-8.738,3.337-12.075,0c-3.328-3.328-3.328-8.73,0-12.066c3.336-3.328,8.738-3.328,12.075,0-->
<!--                                                                                C249.54,232.925,249.54,238.326,246.212,241.654z M270.344,217.522c-3.337,3.337-8.738,3.337-12.066,0-->
<!--                                                                                c-3.336-3.336-3.336-8.738,0-12.066c3.328-3.337,8.73-3.337,12.066,0C273.681,208.784,273.681,214.185,270.344,217.522z-->
<!--                                                                                 M294.485,169.24l12.058-12.066l24.132,24.132l0.009,0.009l0.017,0.009l24.124,24.132l-12.032,12.032L294.485,169.24z"/>-->
<!--                                                                            <path d="M366.934,0.002c-4.71,0-8.533,3.814-8.533,8.533s3.823,8.533,8.533,8.533c70.579,0,128,57.421,128,128-->
<!--                                                                                c0,4.719,3.814,8.533,8.533,8.533c4.719,0,8.533-3.814,8.533-8.533C512.001,65.077,446.926,0.002,366.934,0.002z"/>-->
<!--                                                                            <path d="M366.934,42.669c-4.71,0-8.533,3.814-8.533,8.533s3.823,8.533,8.533,8.533c47.053,0,85.333,38.281,85.333,85.333-->
<!--                                                                                c0,4.719,3.814,8.533,8.533,8.533c4.719,0,8.533-3.814,8.533-8.533C469.334,88.604,423.399,42.669,366.934,42.669z"/>-->
<!--                                                                            <path d="M409.601,145.069c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533c0-32.93-26.795-59.733-59.733-59.733-->
<!--                                                                                c-4.71,0-8.533,3.814-8.533,8.533c0,4.719,3.823,8.533,8.533,8.533C390.461,102.402,409.601,121.542,409.601,145.069z"/>-->
<!--                                                                        </g>-->
<!--                                                                    </g>-->
<!--                                                                </g>-->
<!--                                                                </svg>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        &lt;!&ndash; Card Example &ndash;&gt;-->
<!--                        <div class="col-sm-4  mb-4">-->
<!--                            <div class="card border-left-info shadow h-100 py-2">-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row no-gutters align-items-center">-->
<!--                                        <div class="col mr-2">-->
<!--                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">SHIP NAME-->
<!--                                            </div>-->
<!--                                            <div class="row no-gutters align-items-center">-->
<!--                                                <div class="col-auto">-->
<!--                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">INS VIKRANT</div>-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto">-->
<!--                                            <svg fill="#000000" height="2rem"  version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                                                     viewBox="0 0 512.001 512.001" xml:space="preserve">-->
<!--                                                                <g>-->
<!--                                                                    <g>-->
<!--                                                                        <g>-->
<!--                                                                            <path d="M392.661,255.896c-1.331-2.662-3.942-4.437-6.904-4.685c-3.021-0.341-5.845,1.058-7.603,3.447l-40.115,54.699-->
<!--                                                                                l-19.422-19.43l42.283-42.283c1.604-1.604,2.5-3.772,2.5-6.033c0-2.27-0.896-4.437-2.5-6.033l-6.042-6.033l18.065-18.057-->
<!--                                                                                c3.328-3.337,3.328-8.738,0-12.066l-24.141-24.141l13.79-13.781c5.683,1.493,11.972,0.094,16.427-4.361-->
<!--                                                                                c6.665-6.665,6.665-17.476,0-24.141c-6.664-6.665-17.468-6.665-24.132,0c-4.454,4.454-5.862,10.743-4.36,16.427l-13.79,13.79-->
<!--                                                                                l-24.141-24.141c-3.2-3.2-8.866-3.2-12.066,0l-18.099,18.108l-6.033-6.033c-3.337-3.328-8.73-3.328-12.066,0l-42.24,42.24-->
<!--                                                                                l-12.066-12.075l48.316-48.316c1.946-1.937,2.833-4.685,2.389-7.398c-0.435-2.705-2.15-5.043-4.608-6.263L111.292,46.923-->
<!--                                                                                c-2.876-1.425-6.323-1.135-8.909,0.785L3.447,121.155c-2.415,1.792-3.703,4.71-3.405,7.697c0.299,2.995,2.15,5.598,4.873,6.878-->
<!--                                                                                l165.265,77.449c1.161,0.538,2.389,0.811,3.618,0.811c2.219,0,4.395-0.87,6.033-2.5l18.108-18.108l12.066,12.075l-48.222,48.222-->
<!--                                                                                c-3.337,3.337-3.337,8.73,0,12.066l6.033,6.033l-18.15,18.15c-3.328,3.336-3.328,8.73,0,12.066l60.339,60.339-->
<!--                                                                                c1.664,1.672,3.849,2.5,6.033,2.5c2.185,0,4.369-0.828,6.033-2.5l18.15-18.142l6.033,6.033c1.604,1.604,3.772,2.5,6.033,2.5-->
<!--                                                                                s4.437-0.896,6.033-2.5l48.23-48.23l21.282,21.282l-16.094,21.939c-1.801,2.458-2.159,5.666-0.947,8.448l66.364,153.199-->
<!--                                                                                c1.22,2.807,3.84,4.753,6.878,5.094c0.324,0.026,0.64,0.043,0.956,0.043c2.697,0,5.265-1.28,6.878-3.49l72.508-98.978-->
<!--                                                                                c1.894-2.586,2.185-6.007,0.751-8.858L392.661,255.896z M210.005,253.729c3.328-3.337,8.738-3.337,12.066,0-->
<!--                                                                                c3.337,3.328,3.337,8.73,0,12.066c-3.328,3.328-8.738,3.328-12.066,0C206.669,262.458,206.669,257.057,210.005,253.729z-->
<!--                                                                                 M216.038,344.233l-48.273-48.273l12.066-12.066l48.282,48.273L216.038,344.233z M246.212,241.654-->
<!--                                                                                c-3.337,3.337-8.738,3.337-12.075,0c-3.328-3.328-3.328-8.73,0-12.066c3.336-3.328,8.738-3.328,12.075,0-->
<!--                                                                                C249.54,232.925,249.54,238.326,246.212,241.654z M270.344,217.522c-3.337,3.337-8.738,3.337-12.066,0-->
<!--                                                                                c-3.336-3.336-3.336-8.738,0-12.066c3.328-3.337,8.73-3.337,12.066,0C273.681,208.784,273.681,214.185,270.344,217.522z-->
<!--                                                                                 M294.485,169.24l12.058-12.066l24.132,24.132l0.009,0.009l0.017,0.009l24.124,24.132l-12.032,12.032L294.485,169.24z"/>-->
<!--                                                                            <path d="M366.934,0.002c-4.71,0-8.533,3.814-8.533,8.533s3.823,8.533,8.533,8.533c70.579,0,128,57.421,128,128-->
<!--                                                                                c0,4.719,3.814,8.533,8.533,8.533c4.719,0,8.533-3.814,8.533-8.533C512.001,65.077,446.926,0.002,366.934,0.002z"/>-->
<!--                                                                            <path d="M366.934,42.669c-4.71,0-8.533,3.814-8.533,8.533s3.823,8.533,8.533,8.533c47.053,0,85.333,38.281,85.333,85.333-->
<!--                                                                                c0,4.719,3.814,8.533,8.533,8.533c4.719,0,8.533-3.814,8.533-8.533C469.334,88.604,423.399,42.669,366.934,42.669z"/>-->
<!--                                                                            <path d="M409.601,145.069c0,4.719,3.814,8.533,8.533,8.533s8.533-3.814,8.533-8.533c0-32.93-26.795-59.733-59.733-59.733-->
<!--                                                                                c-4.71,0-8.533,3.814-8.533,8.533c0,4.719,3.823,8.533,8.533,8.533C390.461,102.402,409.601,121.542,409.601,145.069z"/>-->
<!--                                                                        </g>-->
<!--                                                                    </g>-->
<!--                                                                </g>-->
<!--                                                                </svg>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->


<!--                    </div>-->

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-sm-4 ">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ADE Status</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="inputEmail3">Date</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="date" placeholder="Date" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="inputEmail3">Time</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="time" placeholder="Time" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"> </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Latitude</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="latitude" placeholder="latitude" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">deg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Longitude</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="longitude" placeholder="longitude" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Roll</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="roll" placeholder="roll" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Pitch</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="pitch" placeholder="pitch" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Yaw</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="yaw" placeholder="yaw" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Temperature</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="temperature" placeholder="Temperature"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Current</label>
                        <div class="input-group col-sm-8">
                            <input class="form-control " disabled id="current" placeholder="current" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">A&nbsp;&nbsp;&nbsp;</span>
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>

    <!-- Main Chart -->
    <div class="col-sm-4 ">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Satellite Information</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Satellite Name
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-xs font-weight-bold  text-uppercase mb-1 text-gray" id="sat_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Satellite Model
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-xs font-weight-bold  text-uppercase mb-1 text-gray">
                            121212
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            SHIP Name
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-xs font-weight-bold  text-uppercase mb-1 text-gray">
                            INS Vikrant
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <img src="{% static 'img/main.jpg' %}" width="100%" class="rounded mx-auto d-block" alt="Satellite">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Beacon Chart -->
    <div class="col-sm-4 ">

        <div class="row">
            <div class="col-sm-6 mb-2">
                <div class="card  text-white shadow" id="sat_lock_flag">
                    <div class="card-body">
                        SAT Lock
                        <!--                                            <div class="text-white-50 small">Running</div>-->
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card  text-white shadow" id="gps_lock_flag">
                    <div class="card-body">
                        GPS Lock
                        <!--                                            <div class="text-white-50 small">Failed</div>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Beacon Power</h6>

                    </div>
                    <!-- Card Body -->
                    <div class="card-body" style="overflow: hidden;">
                        <div id="chartContainer"  style="max-width: 100%; max-height: 20em;">
                            <div id="beacon-power-chart" style="width: 100%; height: 20em;"></div>
                        </div>

                        <form>
                            <div class="form-group row">
                                <div class="col-sm-4 ">
                                    <label class="col-form-label" for="azimuth">Frequency</label>
                                </div>
                                <div class="input-group col-sm-8" style="height:2em;">
                                    <input class="form-control " disabled id="beacon_freq" placeholder="frequency"
                                           type="text">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">MHz</span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Color System -->
<div class="row">
    <div class="col-sm-2 mb-2">
        <div class="card bg-dark text-white shadow">
            <div class="card-body">
                Status
                <!--                                            <div class="text-white-50 small">Running or Failed</div>-->
            </div>
        </div>
    </div>

    <div class="col-sm-2 mb-2">
        <div class="card text-white shadow" id="ade_comm">
            <div class="card-body">
                ADE COMMU.
                <!--                                            <div class="text-white-50 small">Failed</div>-->
            </div>
        </div>
    </div>


    <div class="col-sm-2 mb-2">
        <div class="card bg-success text-white shadow" id="gps_flag">
            <div class="card-body">
                GPS
                <!--                                            <div class="text-white-50 small">Running</div>-->
            </div>
        </div>
    </div>


    <div class="col-sm-2 mb-2">
        <div class="card  text-white shadow" id="osu_flag">
            <div class="card-body">
                OSU
                <!--                                            <div class="text-white-50 small">Running</div>-->
            </div>
        </div>
    </div>

    <div class="col-sm-2 mb-2">
        <div class="card bg-success text-white shadow" id="beacon_flag">
            <div class="card-body">
                BEACON POWER
                <!--                                            <div class="text-white-50 small">Running</div>-->
            </div>
        </div>
    </div>

    <div class="col-sm-2 mb-2">
        <div class="card bg-success text-white shadow" id="fibre_link_flag">
            <div class="card-body">
                FIBER LINK
                <!--                                            <div class="text-white-50 small">Running</div>-->
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Antenna Current Status</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="azimuth">Azimuth</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="azimuth" placeholder="Azimuth" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="elevation">Elevation</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="elevation" placeholder="Elevation" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Cross EL</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="crossel" placeholder="crossel" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">deg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Polarization</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="polarization" placeholder="polarization"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Antenna Target Status</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="azimuth">Azimuth</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="antenna_target_azimuth" placeholder=" Target Azimuth"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="elevation"> Elevation</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="antenna_target_elevation" placeholder="Target Elevation"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="antenna_target_polarization">Polarization</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="antenna_target_polarization" placeholder="polarization"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">deg</span>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> Current Consumption</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-4 ">
                            <label class="col-form-label" for="azimuth">Motor Azimuth</label>
                        </div>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="motor_azimuth" placeholder="Motor Azimuth"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Amp</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="elevation">Motor Elevation</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="motor_elevation" placeholder="Motor Elevation"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Amp</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Motor Cross EL</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="motor_cross_el" placeholder="crossel" type="text">
                            <div class="input-group-append">
                                <span class="input-group-text">Amp</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Motor Polarization</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="motor_polarization" placeholder="motor_polarization"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Amp</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">BUC Current</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="buc_current" placeholder="buc_current"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Amp</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">Optical Fibre Current</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="optical_fibre_current" placeholder="optical_fibre_current"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Amp</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" for="longitude">SLSC Current</label>
                        <div class="input-group col-sm-8" style="height:2em;">
                            <input class="form-control " disabled id="slsc_current" placeholder="slsc_current"
                                   type="text">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Amp</span>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function () {
    // Initialize the chart
    var chart = echarts.init(document.getElementById('beacon-power-chart'));

    // Generate random data for the Y-axis
    function generateData() {
        return Math.floor(Math.random() * (-66 - (-80) + 1)) - 80;
    }

    // Specify chart options
    var options = {
        title: {
            text: 'Beacon Power (dBm)'
        },
        tooltip: {
            formatter: '{b}<br />Power: {c} dBm'
        },
        xAxis: {
            type: 'category',
            data: ['RSSI(dBm) Ku-Band']
        },
        yAxis: {
            type: 'value',
            interval: 2,
            min: -80,  // Use a negative value to stick the bars from the bottom
            max: -60,
            axisTick: {
                inside: true  // Move the axis ticks inside the chart
            },
            axisLabel: {
                formatter: function(value) {
                    if (value === -74) {
                        // Special case for -74, display as "-74 (threshold)"
                        return value+" (threshold)";
                    } else {
                        return value;
                    }
            }
            },
            inverse: true  // Start bars from the bottom and grow upwards
        },
        grid: {
            left: '10%',  // Add some margin to the left side
            right: '5%',  // Add some margin to the right side
            bottom: '8%', // Add some margin to the bottom side
            containLabel: true  // Ensure the labels are contained within the grid
        },
        series: [{
            name: 'Power',
            type: 'bar',
            barWidth: '80%',
            data: [generateData()],
            itemStyle: {
                normal: {
                    color: function(params) {
                        // Set color based on threshold condition
                        return params.value > -74 ? 'yellow' : 'red';
                    }
                }
            },
            label: {
                show: true,
                position: 'bottom', // Show label at the bottom of the bars
                formatter: function(params) {
                    // Show label for the threshold at -74
                    return params.value === -74 ? 'Threshold: -74 dBm' : '';
                }
            }
        }]
    };

    // Set the options to the chart
    chart.setOption(options);

    // Update chart data and animation
    function updateChartData() {
        var newData = generateData();
        chart.setOption({
            series: [{
                data: [newData]
            }]
        });
    }

    // Update chart data every 2 seconds
    // setInterval(updateChartData, 2000);

    const eventSource = new EventSource('/csv_stream');



    eventSource.onmessage = function(event) {
      const data = event.data;
      const columns = data.split(',');



       $("#sat_name").text(columns[0]);

       if (columns[1] == 1){
            $("#osu_flag").css("background-color", "#1cc88a");
       } else {
            $("#osu_flag").css("background-color", "#e74a3b");
       }

       if (columns[2] == 1){
            $("#gps_flag").css("background-color", "#1cc88a");
       } else {
            $("#gps_flag").css("background-color", "#e74a3b");
       }



       if (columns[3] == 1){
            $("#beacon_flag").css("background-color", "#1cc88a");
       } else {
            $("#beacon_flag").css("background-color", "#e74a3b");
       }

       if (columns[4] == 1){
            $("#fibre_link_flag").css("background-color", "#1cc88a");
       } else {
            $("#fibre_link_flag").css("background-color", "#e74a3b");
       }

        $("#ade_comm").css("background-color", "#1cc88a");
        // Need to check


       if (columns[9] == 1){
            $("#gps_lock_flag").css("background-color", "#1cc88a");
       } else {
            $("#gps_lock_flag").css("background-color", "#e74a3b");
       }

       if (columns[10] == 1){
            $("#sat_lock_flag").css("background-color", "#1cc88a");
       } else {
            $("#sat_lock_flag").css("background-color", "#e74a3b");
       }


        if (columns[12]){
           // Convert timestamp to milliseconds (required by Date constructor)
            const timestampMilliseconds = columns[12] * 1000;

            // Create a new Date object using the timestamp in milliseconds
            const dateObj = new Date(timestampMilliseconds);

            // Get individual date and time components
            const year = dateObj.getFullYear();
            const month = dateObj.getMonth() + 1; // Note: months are zero-based, so add 1
            const day = dateObj.getDate();
            const hours = dateObj.getHours();
            const minutes = dateObj.getMinutes();
            const seconds = dateObj.getSeconds();

            // Format the date and time
            const formattedDate = `${year}-${month < 10 ? '0' : ''}${month}-${day < 10 ? '0' : ''}${day}`;
            const formattedTime = `${hours < 10 ? '0' : ''}${hours}:${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;


           $("#date").val(formattedDate);
           $("#time").val(formattedTime);
       }

           $("#temperature").val(columns[13]);




       $("#roll").val(columns[14]);
       $("#pitch").val(columns[15]);
       $("#yaw").val(columns[16]);

       // beacon_power
       chart.setOption({
                series: [{
                    data: [columns[17]]
                }]
            });



       $("#beacon_freq").val(columns[18]);

       $("#latitude").val(columns[20]);
       $("#longitude").val(columns[21]);

       $("#antenna_target_azimuth").val(columns[22]);
       $("#antenna_target_elevation").val(columns[23]);
       $("#antenna_target_polarization").val(columns[24]);




       $("#elevation").val(columns[25]);
       $("#crossel").val(columns[26]);
       $("#azimuth").val(columns[27]);
       $("#polarization").val(columns[28]);

       // Current Consumption
       $("#motor_elevation").val(columns[29]);
       $("#motor_cross_el").val(columns[30]);
       $("#motor_azimuth").val(columns[31]);
       $("#motor_polarization").val(columns[32]);
       $("#buc_current").val(columns[33]);
       $("#optical_fibre_current").val(columns[34]);
       $("#slsc_current").val(columns[35]);


       //$("#satellite_name").val(columns[16]);
       // $("#channel").val(columns[17]);





      $("#current").val(columns[36]);
    }

});

</script>
<script>




</script>
{% endblock %}
