{% extends 'base.html' %}

{% block title %}Page Title{% endblock %}

{% block content %}


<body>
<div class="container content-top">
    <!--    <ul class="nav nav-tabs" id="myTabs">-->
    <!--      <li class="nav-item">-->
    <!--        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main">Main</a>-->
    <!--      </li>-->
    <!--      <li class="nav-item">-->
    <!--        <a class="nav-link" id="satellite-tab" data-toggle="tab" href="#satellite">Satellite</a>-->
    <!--      </li>-->
    <!--      <li class="nav-item">-->
    <!--        <a class="nav-link" id="monitor-tab" data-toggle="tab" href="#monitor">Monitor</a>-->
    <!--      </li>-->
    <!--      <li class="nav-item">-->
    <!--        <a class="nav-link" id="diagnostic-tab" data-toggle="tab" href="#diagnostic">Diagnostic</a>-->
    <!--      </li>-->
    <!--    </ul>-->

    <div class="tab-content mt-3">
        <!-- Main Tab -->
        <div class="tab-pane fade show active" id="main">
            <div class="row">
                <!-- Left Section -->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <!-- ADE Status -->
                            <h5 class="card-title">ADE Status</h5>
                            <p>Date: <span id="date"></span></p>
                            <p>Time: <span id="time"></span></p>
                            <p>Latitude: <span id="latitude"></span></p>
                            <p>Longitude: <span id="longitude"></span></p>
                            <p>Roll: <span id="roll"></span></p>
                            <p>Pitch: <span id="pitch"></span></p>
                            <p>Yaw: <span id="yaw"></span></p>


                            <!-- Add more fields as needed -->

                            <!-- Antenna Position -->
                            <h5 class="card-title">Antenna Position</h5>
                            <p>Azimuth: <span id="azimuth"></span></p>
                            <p>Elevation: <span id="elevation"></span></p>
                            <p>Cross-EL: <span id="crossel"></span></p>
                            <p>Polarization: <span id="polarization"></span></p>
                            <!-- Add more fields as needed -->

                            <!-- Antenna Target -->
                            <h5 class="card-title">Antenna Target</h5>
                            <p>Azimuth: <span id="antenna_target_azimuth"></span></p>
                            <p>Elevation: <span id="antenna_target_elevation"></span></p>
                            <p>Polarization: <span id="antenna_target_polarization"></span></p>
                            <!-- Add more fields as needed -->
                        </div>
                    </div>
                </div>

                <!-- Center Section -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                             <div class="temp">
                                        <div class="temp__logo">Temperature</div>
                                        <div class="temp__comet"></div>
                                        <canvas class="temp__fizz"></canvas>
                                        <div class="temp__label">Temp</div>
                                        <div class="temp__value"><span id="temp"></span></div>
                                        <div class="temp__dial"></div>
                             </div>
                        </div>


                        <div class="col-md-6">
                             <div class="temp">
                                        <div class="temp__logo">Current</div>
                                        <div class="temp__comet"></div>
                                        <canvas class="temp__fizz"></canvas>
                                        <div class="temp__label">Kw</div>
                                        <div class="temp__value"><span id="current"></span></div>
                                        <div class="temp__dial"></div>
                             </div>
                        </div>


                    </div>


                    <div class="card">
                        <div class="card-body">
                            <!-- Antenna Chart -->
                            <h5 class="card-title">Antenna Chart</h5>
                            <div id="antenna-chart">


                            </div>
                            <script>
                  // Replace with your chart code or embed a plot here

                            </script>

                            <!-- Commands -->
                            <h5 class="card-title">Commands</h5>
                            <button class="btn btn-primary">ADE COMM</button>
                            <button class="btn btn-primary">GPS</button>
                            <button class="btn btn-primary">OSU</button>
                            <button class="btn btn-primary">BEACON PWR</button>
                            <button class="btn btn-primary">FIBER LINK</button>
                            <!-- Add more buttons as needed -->
                        </div>
                    </div>
                </div>

                <!-- Right Section -->
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <!-- Satellite Information -->
                            <h5 class="card-title">Satellite Information</h5>
                            <p>Satellite: <span id="satellite_name"></span></p>
                            <p>Channel: <span id="channel"></span></p>
                            <!-- Add more fields as needed -->

                            <!-- Beacon Power Chart -->
                            <!--                <h5 class="card-title">Beacon Power Chart</h5>-->

                            <div id="chartContainer">
                                <div id="beacon-power-chart" style="width: 100%; height: 100%;"></div>
                            </div>

                            <script>
                  // Replace with your chart code or embed a plot here


                            </script>

                            <!-- Current Consumption -->
                            <h5 class="card-title">Current Consumption</h5>
                            <p>Motor Azimuth: <span id="motor_azimuth"></span></p>
                            <p>Motor Elevation: <span id="motor_elevation"></span></p>
                            <p>Motor Cross EL: <span id="motor_cross_el"></span></p>
                            <p>Motor Polarization: <span id="motor_polarization"></span></p>
                            <!-- Add more fields as needed -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Satellite Tab -->
        <div class="tab-pane fade" id="satellite">
            <!-- Content for Satellite Tab -->
        </div>

        <!-- Monitor Tab -->
        <div class="tab-pane fade" id="monitor">
            <!-- Content for Monitor Tab -->
        </div>

        <!-- Diagnostic Tab -->
        <div class="tab-pane fade" id="diagnostic">
            <!-- Content for Diagnostic Tab -->
        </div>
    </div>
</div>

<!-- Initialize Bootstrap Tabs -->
<script>
    $(document).ready(function () {
      $('#myTabs').tab();
    });





</script>


<script>
        // Initialize the chart
        var chart = echarts.init(document.getElementById('beacon-power-chart'));


        // Generate random data for the Y-axis
        function generateData() {
            return Math.floor(Math.random() * (-66 - (-80) + 1)) - 80;
        }

           // Specify chart options
        var options = {
            title: {
                text: 'Beacon Power'
            },
            tooltip: {
                formatter: '{b}<br />Power: {c} dBm'
            },
            xAxis: {
                type: 'category',
                data: ['Ku-Band (bDm)']
            },
            yAxis: {
                type: 'value',
                min: -80,
                max: -66,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            series: [{
                name: 'Power',
                type: 'bar',
                barWidth: '90%',
                data: [generateData()],
                itemStyle: {
                    normal: {
                        color: 'gray'
                    },
                    normal: {
                        color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                                offset: 0,
                                color: 'gray'  // Start color (gray)
                            }, {
                                offset: 1,
                                color: 'orange'  // End color (orange)
                            }]
                        }
                    }
                }
            }]
        };




        // Update chart data and animation
        function updateChartData() {
            var newData = generateData();
            chart.setOption({
                series: [{
                    data: [newData]
                }]
            });
        }

        // Set the options to the chart
        chart.setOption(options);

        // Update chart data every 2 seconds
        setInterval(updateChartData, 2000);


</script>
<script type="text/javascript">
$(document).ready(function () {

    const eventSource = new EventSource('http://127.0.0.1:8000/csv_stream');

    const outputDiv = document.getElementById('stream-output');

    eventSource.onmessage = function(event) {
      const data = event.data;
      const columns = data.split(','); // Split the CSV data into columns

      // Clear the existing data
      outputDiv.innerHTML = '';

      // Create a container element to hold the columns
      const row = document.createElement('div');
      row.className = 'row';
      if (columns.length > 10) {
        blinkOnce();
      }

       $("#date").text(columns[0]);
       $("#time").text(columns[1]);

       $("#latitude").text(columns[2]);
       $("#longitude").text(columns[3]);

       $("#roll").text(columns[4]);
       $("#pitch").text(columns[5]);
       $("#yaw").text(columns[6]);

       $("#temp").text(columns[7]);
       $("#current").text(columns[8]);

       $("#azimuth").text(columns[9]);
       $("#elevation").text(columns[10]);
       $("#crossel").text(columns[11]);
       $("#polarization").text(columns[12]);

       $("#antenna_target_azimuth").text(columns[13]);
       $("#antenna_target_elevation").text(columns[14]);
       $("#antenna_target_polarization").text(columns[15]);


       $("#satellite_name").text(columns[16]);
       $("#channel").text(columns[17]);


       $("#motor_azimuth").text(columns[18]);
       $("#motor_elevation").text(columns[19]);
       $("#motor_cross_el").text(columns[20]);
       $("#motor_polarization").text(columns[21]);


      // Render each column in a separate HTML element
      columns.forEach(function(columnData) {
        const column = document.createElement('p');
        column.textContent = columnData +"-*-";
        row.appendChild(column);
      });

      outputDiv.appendChild(row); // Append the row to the output container
    };



});
</script>

{% endblock %}
