{% extends 'base.html' %}

{% block title %}Diagnostic{% endblock %}
{% block page_title %}Diagnostic{% endblock %}

{% block content %}
<!-- Content Row -->
                    <div class="row">



                        <!-- Card Example -->
                        <div class="col-sm-12  mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" >
                                        <div class="col-sm-12 mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                ADE DIAGNOSTIC STATUS</div>
                                            <div class="row">
                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card text-white shadow" id="slsc_health">
                                                        <div class="card-body">
                                                            SLSC Health
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 mb-2">
                                                    <div class="card text-white shadow" id="azimuth_motor_health">
                                                        <div class="card-body">
                                                            Azimuth Motor
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card text-white shadow" id="elevation_roll_motor_health">
                                                        <div class="card-body">
                                                            Roll Motor
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="pitch_motor_health">
                                                        <div class="card-body">
                                                            Pitch Motor
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="polarisation_motor_health">
                                                        <div class="card-body">
                                                            Polarisation Motor
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="beacon_power_health">
                                                        <div class="card-body">
                                                            Beacon Power
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>


                                            <div class="row">
                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="slsc_temp_health">
                                                        <div class="card-body">
                                                            SLSC Temperature
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="az_encoder_health">
                                                        <div class="card-body">
                                                            Azimuth Encoder
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="roll_encoder_health">
                                                        <div class="card-body">
                                                            Roll Encoder
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card text-white shadow" id="pitch_encoder_health">
                                                        <div class="card-body">
                                                            Pitch Encoder
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card text-white shadow" id="polarisation_encoder_health">
                                                        <div class="card-body">
                                                            Polarisation Encoder
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card text-white shadow" id="osu_health">
                                                        <div class="card-body">
                                                            OSU Status
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card  text-white shadow" id="gps_health">
                                                        <div class="card-body">
                                                            GPS Status
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>




                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>




                        </div>


                    </div>


                    <div class="row">
                        <!-- Card Example -->
                        <div class="col-sm-12  mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" id="slsc_health">
                                        <div class="col-sm-12 mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                BDE DIAGNOSTIC STATUS</div>



                                            <div class="row">
                                                 <div class="col-sm-3 mb-2">
                                                    <div class="card bg-warning text-white shadow">
                                                        <div class="card-body">
                                                            SHIP GPS Status
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4 mb-2">
                                                    <div class="card  text-white shadow" id="slsc_comm_status">
                                                        <div class="card-body">
                                                            SLSC Communication Status
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-4 mb-2">
                                                    <div class="card bg-warning text-white shadow">
                                                        <div class="card-body">
                                                            SHIP Compass Status
<!--                                                            <div class="text-white-50 small">Running </div>-->
                                                        </div>
                                                    </div>
                                                </div>







                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>




                        </div>
                     </div>









<script type="text/javascript">
$(document).ready(function () {

    validation_data = {
    "flagCheck": {
        "minimum": 0,
        "maximum": 1
    },
    "sysTemp": {
      "minimum": -10,
      "maximum": 60
    },
    "osuRoll": {
      "minimum": -30,
      "maximum": 30
    },
    "osuPitch": {
      "minimum": -15,
      "maximum": 15
    },
    "osuYaw": {
        "minimum": 0,
        "maximum": 360
    },
    "beaconPower": {
        "minimum": -80,
        "maximum": 60
    },
    "tarAz": {
    "minimum":0,
    "maximum": 360
    },
    "tarEl": {
        "minimum": -20,
        "maximum": 90
      },
    "tarPol": {
    "minimum": -45,
    "maximum": 45
    },
    "currEl": {
        "minimum": -20,
        "maximum": 90
    },
    "currCl": {
        "minimum": -30,
        "maximum": 30
    },
    "currAz": {
        "minimum": 0,
        "maximum": 360
    },
    "currPol": {
        "minimum": -45,
        "maximum": 45
    },
    "motorElCurr": {
        "minimum": 0.5,
        "maximum": 2
    },
    "motorClCurr": {
        "minimum": 0.5,
        "maximum": 2
    },
    "motorAzCurr": {
        "minimum":0.5,
        "maximum": 2
    },
    "motorPolCurr": {
        "minimum": 0.5,
        "maximum": 2
    },
    "bucCurr": {
        "minimum": 0.5,
        "maximum": 2
    },
    "opticalFibreCurr": {
        "minimum": 0.5,
        "maximum": 2
    },
    "slscCurr": {
        "minimum":5,
        "maximum": 10
    },
    "totalCurr": {
        "minimum": 10,
        "maximum": 15
    }
  }

    const eventSource = new EventSource('/csv_stream');



    eventSource.onmessage = function(event) {
      const data = event.data;
      const columns = data.split(',');

       if (columns[11] == 1){
            $("#slsc_health").css("background-color", "#1cc88a");
       } else if (columns[11] == 0) {
            $("#slsc_health").css("background-color", "#e74a3b");
       } else {
            $("#slsc_health").css("background-color", "#f6c23e");
       }


       if (validation_data["motorAzCurr"]["minimum"] <= columns[31] <= validation_data["motorAzCurr"]["maximum"]){
            $("#azimuth_motor_health").css("background-color", "#1cc88a");
       } else {
            $("#azimuth_motor_health").css("background-color", "#e74a3b");
       }

        if (validation_data["motorElCurr"]["minimum"] <= columns[29] <= validation_data["motorElCurr"]["maximum"]){
            $("#elevation_roll_motor_health").css("background-color", "#1cc88a");
       } else  {
            $("#elevation_roll_motor_health").css("background-color", "#e74a3b");
       }


        if (validation_data["motorClCurr"]["minimum"] <= columns[30] <= validation_data["motorClCurr"]["maximum"]){
            $("#pitch_motor_health").css("background-color", "#1cc88a");
       } else {
            $("#pitch_motor_health").css("background-color", "#e74a3b");
       }

       if (validation_data["motorPolCurr"]["minimum"] <= columns[32] <= validation_data["motorPolCurr"]["maximum"]){
            $("#polarisation_motor_health").css("background-color", "#1cc88a");
       } else  {
            $("#polarisation_motor_health").css("background-color", "#e74a3b");
       }

       if (validation_data["beaconPower"]["minimum"] <= columns[17] <= validation_data["beaconPower"]["maximum"]){
            $("#beacon_power_health").css("background-color", "#1cc88a");
       } else  {
            $("#beacon_power_health").css("background-color", "#e74a3b");
       }



       if (validation_data["sysTemp"]["minimum"] <= columns[13] <= validation_data["sysTemp"]["maximum"]){
            $("#slsc_temp_health").css("background-color", "#1cc88a");
       } else  {
            $("#slsc_temp_health").css("background-color", "#e74a3b");
       }


       if (columns[5] == 1){
            $("#az_encoder_health").css("background-color", "#1cc88a");
       } else  {
            $("#az_encoder_health").css("background-color", "#e74a3b");
       }


       if (columns[7] == 1){
            $("#roll_encoder_health").css("background-color", "#1cc88a");
       } else  {
            $("#roll_encoder_health").css("background-color", "#e74a3b");
       }

       if (columns[6] == 1){
            $("#pitch_encoder_health").css("background-color", "#1cc88a");
       } else  {
            $("#pitch_encoder_health").css("background-color", "#e74a3b");
       }


       if (columns[8] == 1){
            $("#polarisation_encoder_health").css("background-color", "#1cc88a");
       } else  {
            $("#polarisation_encoder_health").css("background-color", "#e74a3b");
       }

       if (columns[1] == 1){
            $("#osu_health").css("background-color", "#1cc88a");
       } else  {
            $("#osu_health").css("background-color", "#e74a3b");
       }



       if (columns[2] == 1){
            $("#gps_health").css("background-color", "#1cc88a");
       } else  {
            $("#gps_health").css("background-color", "#e74a3b");
       }

        if (columns){
            $("#slsc_comm_status").css("background-color", "#1cc88a");
       } else  {
            $("#slsc_comm_status").css("background-color", "#e74a3b");
       }





    }

});
</script>
{% endblock %}
