{% extends 'base.html' %}

{% block title %}Diagnostic{% endblock %}
{% block page_title %}Diagnostic{% endblock %}

{% block content %}
<!-- Content Row -->
                    <div class="row">



                        <!-- Card Example -->
                        <div class="col-sm-12  mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" id="slsc_health">
                                        <div class="col-sm-12 mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                ADE DIAGNOSTIC STATUS</div>
                                            <div class="row">
                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            SLSC Health
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Azimuth Motor
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Roll Motor
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Pitch Motor
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Polarisation Motor
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Beacon Power
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>


                                            <div class="row">
                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            SLSC Temperature
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Azimuth Encoder
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Roll Encoder Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Pitch Encoder Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            Polarisation Encoder Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>





                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>




                        </div>


                    </div>


                    <div class="row">
                        <!-- Card Example -->
                        <div class="col-sm-12  mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center" id="slsc_health">
                                        <div class="col-sm-12 mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                BDE DIAGNOSTIC STATUS</div>



                                            <div class="row">
                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            MCCU Heath Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            GPS Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            SLSC Comm Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            MCCU Temperature Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                 <div class="col-sm-2 mb-2">
                                                    <div class="card bg-success text-white shadow">
                                                        <div class="card-body">
                                                            KuBand Signal Strength Status
                                                            <div class="text-white-50 small">Running </div>
                                                        </div>
                                                    </div>
                                                </div>





                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>




                        </div>
                     </div>









<script type="text/javascript">
$(document).ready(function () {

    const eventSource = new EventSource('/csv_stream');



    eventSource.onmessage = function(event) {
      const data = event.data;
      const columns = data.split(',');




       $("#date").val(columns[0]);
       $("#time").val(columns[1]);

       $("#latitude").val(columns[2]);
       $("#longitude").val(columns[3]);

       $("#roll").val(columns[4]);
       $("#pitch").val(columns[5]);
       $("#yaw").val(columns[6]);

       $("#temperature").val(columns[7]);
       $("#current").val(columns[8]);

       $("#azimuth").val(columns[9]);
       $("#elevation").val(columns[10]);
       $("#crossel").val(columns[11]);
       $("#polarization").val(columns[12]);

       $("#antenna_target_azimuth").val(columns[13]);
       $("#antenna_target_elevation").val(columns[14]);
       $("#antenna_target_polarization").val(columns[15]);


       $("#satellite_name").val(columns[16]);
       $("#channel").val(columns[17]);


       $("#motor_azimuth").val(columns[18]);
       $("#motor_elevation").val(columns[19]);
       $("#motor_cross_el").val(columns[20]);
       $("#motor_polarization").val(columns[21]);
    }

});
</script>
<script>
        // Initialize the chart
        var chart = echarts.init(document.getElementById('beacon-power-chart'));


        // Generate random data for the Y-axis
        function generateData() {
            return Math.floor(Math.random() * (-66 - (-80) + 1)) - 80;
        }

           // Specify chart options
        var options = {
            title: {
                text: 'Beacon Power'
            },
            tooltip: {
                formatter: '{b}<br />Power: {c} dBm'
            },
            xAxis: {
                type: 'category',
                data: ['Ku-Band (bDm)']
            },
            yAxis: {
                type: 'value',
                min: -80,
                max: -66,
                axisLabel: {
                    formatter: '{value}'
                }
            },
            series: [{
                name: 'Power',
                type: 'bar',
                barWidth: '90%',
                data: [generateData()],
                itemStyle: {
                    normal: {
                        color: 'gray'
                    },
                    normal: {
                        color: {
                            type: 'linear',
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [{
                                offset: 0,
                                color: 'gray'  // Start color (gray)
                            }, {
                                offset: 1,
                                color: 'orange'  // End color (orange)
                            }]
                        }
                    }
                }
            }]
        };




        // Update chart data and animation
        function updateChartData() {
            var newData = generateData();
            chart.setOption({
                series: [{
                    data: [newData]
                }]
            });
        }

        // Set the options to the chart
        chart.setOption(options);

        // Update chart data every 2 seconds
        setInterval(updateChartData, 2000);


</script>
{% endblock %}
