{% extends 'base.html' %}

{% block title %}Monitor{% endblock %}
{% block page_title %}Monitor{% endblock %}

{% block content %}


<!--<div class="container-fluid content-top">-->

<!--    <table id="dataTable" class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>Date</th>-->
<!--          <th>Time</th>-->
<!--          <th>Latitude</th>-->
<!--          <th>Longitude</th>-->
<!--          <th>Roll</th>-->
<!--          <th>Pitch</th>-->
<!--          <th>Yaw</th>-->
<!--          <th>Temperature</th>-->
<!--          <th>Current</th>-->
<!--          <th>Azimuth</th>-->
<!--          <th>Elevation</th>-->
<!--          <th>Crossel</th>-->
<!--          <th>Polarization</th>-->
<!--          <th>Antenna Target Azimuth</th>-->
<!--          <th>Antenna Target Elevation</th>-->
<!--          <th>Antenna Target Polarization</th>-->
<!--          <th>Satellite Name</th>-->
<!--          <th>Channel</th>-->
<!--          <th>Motor Azimuth</th>-->
<!--          <th>Motor Elevation</th>-->
<!--          <th>Motor Cross El</th>-->
<!--          <th>Motor Polarization</th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--        &lt;!&ndash; Use JavaScript to dynamically populate the table rows &ndash;&gt;-->
<!--      </tbody>-->
<!--    </table>-->

<!--</div>-->
<div id="temperature-chart" style="width:100%; height:300px;"></div>
<div id="current-chart" style="width:100%; height:300px;"></div>
<div id="elevation-chart" style="width:100%; height:300px;"></div>
<script type="text/javascript">
$(document).ready(function () {

  const eventSource = new EventSource('/csv_stream');
  const temperatureData = []; // Array to hold temperature data for the chart
  const currentData = []; // Array to hold current data for the chart
  const elevationData = []; // Array to hold elevation data for the chart

  eventSource.onmessage = function (event) {
    const data = event.data;
    const columns = data.split(','); // Split the CSV data into columns

    const temperature = parseFloat(columns[7]); // Parse the temperature value
    const current = parseFloat(columns[8]); // Parse the current value
    const elevation = parseFloat(columns[10]); // Parse the elevation value

    const timestamp = new Date(columns[0] + ' ' + columns[1]).getTime(); // Create a timestamp from date and time

    temperatureData.push({
      name: timestamp,
      value: [timestamp, temperature],
    });

    currentData.push({
      name: timestamp,
      value: [timestamp, current],
    });

    elevationData.push({
      name: timestamp,
      value: [timestamp, elevation],
    });

    // Limit the number of data points shown on each chart (e.g., to the last 100 points)
    if (temperatureData.length > 100) {
      temperatureData.shift();
    }

    if (currentData.length > 100) {
      currentData.shift();
    }

    if (elevationData.length > 100) {
      elevationData.shift();
    }

    // Update the Echarts charts with the new data
    echarts.init(document.getElementById('temperature-chart')).setOption({
      title: {
        text: 'Temperature',
      },
      tooltip: {
        trigger: 'axis',
      },
      xAxis: {
        type: 'time',
        axisLabel: {
          formatter: function (value) {
            return new Date(value).toLocaleTimeString();
          },
        },
      },
      yAxis: {
        type: 'value',
      },
      series: [
        {
          type: 'line',
          data: temperatureData,
        },
      ],
      dataZoom: [
        {
          type: 'inside',
          start: 0,
          end: 100,
        },
        {
          type: 'slider',
          start: 0,
          end: 100,
        },
      ],
    });

    echarts.init(document.getElementById('current-chart')).setOption({
      title: {
        text: 'Current',
      },
      tooltip: {
        trigger: 'axis',
      },
      xAxis: {
        type: 'time',
        axisLabel: {
          formatter: function (value) {
            return new Date(value).toLocaleTimeString();
          },
        },
      },
      yAxis: {
        type: 'value',
      },
      series: [
        {
          type: 'line',
          data: currentData,
        },
      ],
      dataZoom: [
        {
          type: 'inside',
          start: 0,
          end: 100,
        },
        {
          type: 'slider',
          start: 0,
          end: 100,
        },
      ],
    });

    echarts.init(document.getElementById('elevation-chart')).setOption({
      title: {
        text: 'Elevation',
      },
      tooltip: {
        trigger: 'axis',
      },
      xAxis: {
        type: 'time',
        axisLabel: {
          formatter: function (value) {
            return new Date(value).toLocaleTimeString();
          },
        },
      },
      yAxis: {
        type: 'value',
      },
      series: [
        {
          type: 'line',
          data: elevationData,
        },
      ],
      dataZoom: [
        {
          type: 'inside',
          start: 0,
          end: 100,
        },
        {
          type: 'slider',
          start: 0,
          end: 100,
        },
      ],
    });
  };

  // Assuming you have a table with the ID 'dataTable'
  // const table = $('#dataTable').DataTable();

});
</script>


{% endblock %}
