{% extends 'base.html' %}

{% block title %}Satellite{% endblock %}
{% block page_title %}Satellite{% endblock %}

{% block content %}
<div class="container">


    <table class="table">
        <thead>
            <tr>
                <th>Satellite Name</th>
                <th>Line Information</th>
                <th> Frequency</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for satellite in satellites %}
            <tr>
                <td rowspan="2">{{ satellite.satellite_name }}</td>
                <td>{{ satellite.line1 }}</td>
                <td>{{ satellite.local_frequency }}</td>


                <td rowspan="2">
                    <div class="btn-group" role="group" aria-label="">
                    <form action="{% url 'get_satellite' satellite.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Get</button>
                    </form>
                    <form action="{% url 'set_satellite' satellite.id %}" method="post">
                        {% csrf_token %}


                          <button type="submit" class="btn btn-danger  ml-2">Set</button>

                        </div>

                    </form>

                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ satellite.line2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script type="text/javascript">
$(document).ready(function () {

    const eventSource = new EventSource('http://127.0.0.1:8000/csv_stream');

    const outputDiv = document.getElementById('stream-output');

    eventSource.onmessage = function(event) {
      const data = event.data;
      const columns = data.split(','); // Split the CSV data into columns

      // Clear the existing data
      outputDiv.innerHTML = '';

      // Create a container element to hold the columns
      const row = document.createElement('div');
      row.className = 'row';
      if (columns.length > 10) {
        blinkOnce();
      }




      // Render each column in a separate HTML element
      columns.forEach(function(columnData) {
        const column = document.createElement('p');
        column.textContent = columnData +"-*-";
        row.appendChild(column);
      });

      outputDiv.appendChild(row); // Append the row to the output container
    };



});
</script>

{% endblock %}
